*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-title{
    font-size: 50px;
    position: relative;
    left: 20vh;
    top: 15vh;
}
.name{
    color: rgb(255, 153, 0);
}
.work{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profession{
    font-size: 30px;
}
.aboutBut{
    border: none;
    border-radius: 40px;
    width: 10%;
    height: 8vh;
    background-color: rgb(0, 11, 158);
    color: white;
    font-size: 20px;
    position: relative;
    left: 10%;
    top: 15vh;
}
footer{
    position: relative;
    left: 11%;
    top: 20vh;
    display: flex;
    gap: 20px;
}
a{
    color: black;
}
.pfp{
    margin: 0px;
    width: 100%;
    height: auto;
    max-width: 50vh;
    min-height: 50vh;
    border: solid black 1px;
    border-radius: 90vh;
    position: absolute;
    left: 45em;
    top: 20vh;
}